*
{
    margin: 0px;
    padding: 0px;
}

body
{
    background: url('../../Images/Backgrounds/gundam.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

#wrapper
{
    margin: auto;
    height: 1100px;
    width: 1080px;
}

                        /* HEADER SECTION */
header
{
    height: 90px;
    width: 100%;
    background-color:rgba(255,255,255, 0.8);
    text-align: center;
    color: black;
    display: table;
    border-radius: 15%;
    border: 1px solid black;
    box-shadow: 0px 0px 10px 0px ;
}

#headerText
{
    display: table-cell;
    vertical-align: middle;
}

                        /* NAV BAR SECTION */
nav
{
    height: 45px;
    width: 100%;
    text-align: center;
    color: black;
    font-size: medium;
}

#tblNav
{
    height: inherit;
    width: inherit;
}

#tblNav td
{
    vertical-align: middle;
}

nav a
{
    padding: 1%;
    background-color:rgba(255,255,255, 0.8);
    border-radius: 15%;
    border: 1px solid black;
    box-shadow: 0px 0px 10px 0px ;

}

nav a:link, nav a:visited
{
    color: Black;
    text-decoration: none;
    font-weight: bold;
}

                        /* COVERS THE LEFT BAR, SECTION AND RIGHT BAR */
#middleWrapper
{
    height: 880px;
    width: 1080px;
}

                        /* LEFT BAR SECTION */
#divLeftSidebar
{
    height: 880px;
    width: 14.5%;
    float: left;
    margin-right: 0.5%;
}

#memberSignUp
{
    height: 155px;
    width: 100%;
    margin-bottom: 5%;
    background-color:rgba(255,255,255, 0.8);
    color: black;
    border-radius: 3%;
    border: 1px solid black;
    box-shadow: 0px 0px 10px 0px ;
}

#news
{
    height: 355px;
    width: 100%;
    margin-bottom: 5%;
    background-color:rgba(255,255,255, 0.8);
    color: black;
    border-radius: 3%;
    border: 1px solid black;
    box-shadow: 0px 0px 10px 0px ;
}

#poll
{
    height: 355px;
    width: 100%;
    background-color:rgba(255,255,255, 0.8);
    color: black;
    border-radius: 3%;
    border: 1px solid black;
    box-shadow: 0px 0px 10px 0px ;
}

                        /* SECTION SECTION */
section
{
    height: 950px;
    width: 70%;
    float: left;
    color: black;
}

                        /* HOME PAGE SECTION */
#tblUpcoming
{
    height: 430px;
    width: 100%;
    margin-bottom: 1%;
    color: black;
}

#tblUpcoming th
{
    height: 10%;
    width: 99.5%;
    max-width: 99.5%;
    text-align: left;
    padding-left: 0.5%;
    background-color: rgba(255,255,255, 0.8);
    border: 1px solid black;
    border-radius: 20%;
    box-shadow: 0px 0px 10px 0px ;
}

#tblUpcoming td
{
    max-width: 100%;
    text-align: center;
    vertical-align: top;
}

#tblUpcoming1
{
    height: 100%;
    width: 100%;
    background-color: rgba(255,255,255, 0.8);
    border: 1px solid black;
    border-radius: 15%;
    box-shadow: 0px 0px 10px 0px ;
}

#tblUpcoming2
{
    height: 100%;
    width: 100%;
    background-color: rgba(255,255,255, 0.8);
    border-radius: 15%;
    box-shadow: 0px 0px 10px 0px ;
}

#tblNewReleases
{
    height: 430px;
    width: 100%;
    color: black;
}

#tblNewReleases th
{
    height: 10%;
    width: 99.5%;
    max-width: 99.5%;
    text-align: left;
    background-color: rgba(255,255,255, 0.8);
    border-radius: 20%;
    padding-left: 0.5%;
    border: 1px solid black;
    box-shadow: 0px 0px 10px 0px ;
}

#tblNewReleases td
{
    max-width: 100%;
    text-align: center;
    vertical-align: top;
}

#tblNewReleases1
{
    height: 100%;
    width: 100%;
    background-color: rgba(255,255,255, 0.8);
    border-radius: 15%;
    border: 1px solid black;
    box-shadow: 0px 0px 10px 0px ;
}

#tblNewReleases2
{
    height: 100%;
    width: 100%;
    background-color: rgba(255,255,255, 0.8);
    border-radius: 15%;
    border: 1px solid black;
    box-shadow: 0px 0px 10px 0px ;
}

.boxart
{
    height: 200px;
    width: 200px;
    padding: 10px;
    opacity: 1.0;
}

                        /* GAMES PAGE SECTION */
#tblGames
{
    height: 430px;
    width: 100%;
    margin-bottom: 1%;
    color: black;
}

#tblGames th
{
    height: 10%;
    width: 99.5%;
    max-width: 99.5%;
    text-align: left;
    padding-left: 0.5%;
    background-color: rgba(255,255,255, 0.8);
    border: 1px solid black;
    border-radius: 20%;
    box-shadow: 0px 0px 10px 0px ;
}

#tblGames td
{
    background-color: rgba(255,255,255, 0.8);
    border: 1px solid black;
    border-radius: 10%;
    box-shadow: 0px 0px 10px 0px;
}

.gameImgTD
{
    padding: 0.3%;
    text-align: center;
}

.descriptionTD
{
    width: 77%;
    vertical-align: top;
    padding: 10px;
}

.games
{
    max-height: 200px;
    max-width: 200px;
    margin: 5px;
    opacity: 1.0;
}

                        /* NEWS PAGE SECTION */
#tblNews
{
    height: 430px;
    width: 100%;
    margin-bottom: 1%;
    color: black;
}

#tblNews th
{
    height: 10%;
    width: 99.5%;
    max-width: 99.5%;
    text-align: left;
    padding-left: 0.5%;
    background-color: rgba(255,255,255, 0.8);
    border: 1px solid black;
    border-radius: 20%;
    box-shadow: 0px 0px 10px 0px ;
}

#tblNews td
{
    background-color: rgba(255,255,255, 0.8);
    border: 1px solid black;
    border-radius: 20%;
    box-shadow: 0px 0px 10px 0px;
}

                        /* SUPPORT PAGE SECTION */
#supportPageContent
{
    height: 860px;
    width: 100%;
    color: black;
}

#supportTable
{
    height: 430px;
    width: 100%;
    margin-bottom: 1%;
    color: black;
}

#supportTable th
{
    height: 10%;
    width: 99.5%;
    max-width: 99.5%;
    text-align: left;
    padding-left: 0.5%;
    background-color: rgba(255,255,255, 0.8);
    border: 1px solid black;
    border-radius: 20%;
    box-shadow: 0px 0px 10px 0px ;
}

#supportTable td
{
    background-color: rgba(255,255,255, 0.8);
    border: 1px solid black;
    border-radius: 15%;
    box-shadow: 0px 0px 10px 0px;
    padding: 1%;
}

#tblVGHS
{
    background-color: none;
}

#tblVGHS td
{
    border: none;
    box-shadow:none;
    background-color: rgba(255,255,255, 0);
}

#tblGeekandSundry
{
    background-color: none;
}

#tblGeekandSundry td
{
    border: none;
    box-shadow:none;
    background-color: rgba(255,255,255, 0);
}

#tblSmoothMcGroove
{
    background-color: none;
}

#tblSmoothMcGroove td
{
    border: none;
    box-shadow:none;
    background-color: rgba(255,255,255, 0);
}

.logoCell
{
    width: 20%;
}

.spacingCell
{
    height: 100%;
    width: 5%;
}

.descriptionCell
{
    width: 70%;
    vertical-align: middle;
}

.logo
{
    width: 100%;
    float: left;
    border-radius: 10%;
}

                        /* FORUMS PAGE SECTION */
#tblForum
{
    height: 430px;
    width: 100%;
    margin-bottom: 1%;
    color: black;
}

#tblForum th
{
    height: 10%;
    width: 99.5%;
    max-width: 99.5%;
    text-align: left;
    padding-left: 0.5%;
    background-color: rgba(255,255,255, 0.8);
    border: 1px solid black;
    border-radius: 20%;
    box-shadow: 0px 0px 10px 0px ;
}

#tblForum td
{
    background-color: rgba(255,255,255, 0.8);
    border: 1px solid black;
    border-radius: 20%;
    box-shadow: 0px 0px 10px 0px;
}

                        /* CONTACTS PAGE SECTION */
#tblContacts
{
    height: 430px;
    width: 100%;
    margin-bottom: 1%;
    color: black;
}

#tblContacts th
{
    height: 10%;
    width: 99.5%;
    max-width: 99.5%;
    text-align: left;
    padding-left: 0.5%;
    background-color: rgba(255,255,255, 0.8);
    border: 1px solid black;
    border-radius: 20%;
    box-shadow: 0px 0px 10px 0px ;
}

#tblContacts td
{
    background-color: rgba(255,255,255, 0.8);
    border: 1px solid black;
    border-radius: 10%;
    box-shadow: 0px 0px 10px 0px;
}

#contactList
{
    padding: 2.5%;
}

#wizardCell
{
    padding: 1%;
}

#CPHmain_wizard1
{
    border: none;
}

#CPHmain_wizard1 td
{
    border: none;
}

#wizardHeader
{
    border-radius: 5%;
}

                        /* ABOUT US PAGE SECTION */
#tblAbout
{
    height: 430px;
    width: 100%;
    margin-bottom: 1%;
    color: black;
}

#tblAbout th
{
    height: 10%;
    width: 99.5%;
    max-width: 99.5%;
    text-align: left;
    padding-left: 0.5%;
    background-color: rgba(255,255,255, 0.8);
    border: 1px solid black;
    border-radius: 20%;
    box-shadow: 0px 0px 10px 0px ;
}

#tblAbout td
{
    background-color: rgba(255,255,255, 0.8);
    border: 1px solid black;
    border-radius: 15%;
    box-shadow: 0px 0px 10px 0px;
    padding: 1%;
}

#tblJon
{
    background-color: none;
}

#tblJon td
{
    border: none;
    box-shadow:none;
    background-color: rgba(255,255,255, 0);
}

#tblJamison
{
    background-color: none;
}

#tblJamison td
{
    border: none;
    box-shadow:none;
    background-color: rgba(255,255,255, 0);
}

                        /* RIGHT BAR SECTION */
#divRightSidebar
{
    height: 880px;
    width: 14.5%;
    float: left;
    margin-left: 0.5%;
}

#funstuff
{
    height: 314px;
    width: 100%;
    max-width: 100%;
    margin-bottom: 5%;
    background-color: rgba(255,255,255, 0.8);
    border-radius: 3%;
    color: black;
    border: 1px solid black;
    box-shadow: 0px 0px 10px 0px ;
}

#funstuff td
{
    width: 100%;
    max-width: 100%;
}

.quote
{
    height: 80%;
    width: 87%;
    padding-right: 5%;
    padding-bottom: 5%;
    padding-left: 5%;
    border: dotted 2px orange;
    font: 16px Georgia, Serif;
}

#lineRule
{
    height: 20%;
}

.randomImg
{
    height: 152px;
    width: 152px;
}

#tblSupport
{
    height: 566px;
    width: 100%;
    max-width: 100%;
    background-color:rgba(255,255,255, 0.8);
    border-radius: 3%;
    color: black;
    border:1px solid;
    box-shadow: 0px 0px 10px 0px ;
}

#tblSupport td
{
    height: 152px;
    width: 100%;
    max-width: 152px;
}

                        /* FOOTER SECTION */
footer
{
    height: 45px;
    width: 100%;
    clear: both;
    color: black;
    font-size: small;
    text-align: center;
}

#tblFooter
{
    height: inherit;
    width: inherit;
}

#tblFooter td
{
    vertical-align: middle;
}

footer a
{
    padding: 5px;
    text-align: center;
    background-color:rgba(255,255,255, 0.8);
    border-radius: 15%;
}

footer a:link, footer a:visited
{
    color: black;
}
